@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
    --white: hsl(0, 0, 100%);
    --t1-bg-main: hsl(222, 26%, 31%);
    --t1-bg-keypad: hsl(223, 31%, 20%);
    --t1-bg-screen: hsl(224, 36%, 15%);
    --t1-key1: hsl(225, 21%, 49%);
    --t1-key1-shadow: hsl(224, 28%, 35%);
    --t1-key2: hsl(6, 63%, 50%);
    --t1-key2-shadow: hsl(6, 70%, 34%);
    --t1-key3: hsl(30, 25%, 89%);
    --t1-key3-shadow: hsl(28, 16%, 65%);
    --t1-text-blue: hsl(221, 14%, 31%);

    --t2-bg-main: hsl(0, 0%, 90%);
    --t2-bg-keypad: hsl(0, 5%, 81%);
    --t2-bg-screen: hsl(0, 0%, 93%);
    --t2-key1: hsl(185, 42%, 37%);
    --t2-key1-shadow: hsl(185, 58%, 25%);
    --t2-key2: hsl(25, 98%, 40%);
    --t2-key2-shadow: hsl(25, 99%, 27%);
    --t2-key3: hsl(45, 7%, 89%);
    --t2-key3-shadow: hsl(35, 11%, 61%);
    --t2-text-dark-yellow: hsl(60, 10%, 19%);

    --t3-bg-main: hsl(268, 75%, 9%);
    --t3-bg-rest: hsl(268, 71%, 12%);
    --t3-key1: hsl(281, 89%, 26%);
    --t3-key1-shadow: hsl(285, 91%, 52%);
    --t3-key2: hsl(176, 100%, 44%);
    --t3-key2-shadow: hsl(177, 92%, 70%);
    --t3-key3: hsl(268, 47%, 21%);
    --t3-key3-shadow: hsl(290, 70%, 36%);
    --t3-text-light-yellow: hsl(52, 100%, 62%);
    --t3-text-dark-blue: hsl(198, 20%, 13%);

    font-size: 32px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}