@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

.theme-one {
    --bg-main: hsl(222, 26%, 31%);
    --bg-keypad: hsl(223, 31%, 20%);
    --bg-screen: hsl(224, 36%, 15%);
    --key1: hsl(225, 21%, 49%);
    --key1-shadow: hsl(224, 28%, 35%);
    --key2: hsl(6, 63%, 50%);
    --key2-shadow: hsl(6, 70%, 34%);
    --key3: hsl(30, 25%, 89%);
    --key3-shadow: hsl(28, 16%, 65%);
    --text: hsl(221, 14%, 31%);
    --text-2: #fff;
    --white: #fff;
    --display: #fff;
    --hor-pos: 6px;
}

.theme-two {
    --bg-main: hsl(0, 0%, 90%);
    --bg-keypad: hsl(0, 5%, 81%);
    --bg-screen: hsl(0, 0%, 93%);
    --key1: hsl(185, 42%, 37%);
    --key1-shadow: hsl(185, 58%, 25%);
    --key2: hsl(25, 98%, 40%);
    --key2-shadow: hsl(25, 99%, 27%);
    --key3: hsl(45, 7%, 89%);
    --key3-shadow: hsl(35, 11%, 61%);
    --text: hsl(60, 10%, 19%);
    --text-2: #fff;
    --white: #fff;
    --display: hsl(60, 10%, 19%);
    --hor-pos: 27px;
}

.theme-three {
    --bg-main: hsl(268, 75%, 9%);
    --bg-keypad: hsl(268, 71%, 12%);
    --bg-screen: hsl(268, 71%, 12%);
    --key1: hsl(281, 89%, 26%);
    --key1-shadow: hsl(285, 91%, 52%);
    --key2: hsl(176, 100%, 44%);
    --key2-shadow: hsl(177, 92%, 70%);
    --key3: hsl(268, 47%, 21%);
    --key3-shadow: hsl(290, 70%, 36%);
    --text: hsl(52, 100%, 62%);
    --text-2: hsl(198, 20%, 13%);
    --white: #fff;
    --display: #fff;
    --hor-pos: 50px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    background-color: var(--bg-main);
}

* {
    margin: 0;
}

.container {
    background-color: var(--bg-main);
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 6vw;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: .4rem;
    align-items: center;
    color: var(--display);
}

.logo {
    font-size: 1rem;
}

.theme-switch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.theme-switch {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.labels {
    display: flex;
    width: 50px;
    padding: 0 8px;
    justify-content: space-between;
}

.switch {
    position: relative;
    background-color: var(--bg-screen);
    height: 18px;
    width: 100%;
    border-radius: 50px;
}

.switch:hover {
    cursor: pointer;
}

.indicator {
    position: absolute;
    top: 4px;
    left: var(--hor-pos);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--key2);
}

.screen {
    background-color: var(--bg-screen);
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
    min-height: 150px;
    margin: 1rem auto;
    border-radius: 10px;
}

.display {
    color: var(--display);
    padding: .5rem;
}

.sub-display {
    color: var(--display);
    font-size: .75rem;
    opacity: .35;
}

.keypad {
    background-color: var(--bg-keypad);
    border-radius: 10px;
    padding: 1rem;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem;
    text-align: center;
    justify-content: center;
}

.large-btn {
    grid-column: span 2;
}

.large-btn:hover,
.keys:hover {
    cursor: pointer;
}

.keys p {
    padding: .25rem .5rem;
    border-radius: 5px;
}

.key-1,
.key-2 {
    font-size: .5rem;
}

.key-1 {
    background-color: var(--key1);
    box-shadow: 0px 3px 0px var(--key1-shadow);
    color: var(--white);
    transition: 300ms;
}

.key-2 {
    background-color: var(--key2);
    box-shadow: 0px 3px 0px var(--key2-shadow);
    color: var(--text-2);
    
}
.key-3 {
    background-color: var(--key3);
    box-shadow: 0px 3px 0px var(--key3-shadow);
    color: var(--text);
}